version: "3.9"
services:
  kestra:
    image: kestra/kestra:latest
    command: server local
    ports:
      - "8080:8080"
    environment:
      KESTRA_CONFIGURATION: |
        kestra:
          server:
            type: local
    volumes:
      - kestra-data:/app/storage
    env_file:
      - .env     

volumes:
  kestra-data:

